<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
	</configSections>
	<dataConfiguration defaultDatabase="DefaultSqlDb"/>
	<connectionStrings>
		<add name="DefaultSqlDb" connectionString="Database=SGY;Server=.\sqlexpress;uid=sgy;password=qwer*1234"
      providerName="System.Data.SqlClient" />
		<add name="EPortSqlDb" connectionString="Database=EPORT_CUSTOMS;Server=.\sqlexpress;uid=sgy;password=qwer*1234"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DbType" value="SqlServer"/>
		<add key="CurrentId" value="f4ff60b9d"/>
		<add key="TscIdHead" value="T19078435100"/>
		<add key="DocumentNo" value="1236"/>
		<add key="Tns" value="http://www.chinaport.gov.cn/tcs/v2"/>
		<add key="Path" value="d:\Temp"/>
		<add key="SlidingExpiration" value="20"/>
		<!--DeclType 进出口开关 1进口 0 出口，2 允许进口和出口-->
		<add key="DeclType" value="2"/>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
		<endpointBehaviors>
			<behavior name="jsonBehavior">
				<webHttp/>
			</behavior>
			<behavior name="ws">
				<soapProcessing/>
			</behavior>
		</endpointBehaviors>
    </behaviors>
	<bindings>
		<webHttpBinding>
			<binding name="LargeWeb" maxBufferPoolSize="52428800"
					 maxReceivedMessageSize="52428800"
					 maxBufferSize="52428800">
				<readerQuotas maxArrayLength="52428800"
					 maxDepth="32"
							  maxBytesPerRead="52428800"
							  maxStringContentLength="52428800"/>
			</binding>
		</webHttpBinding>
	</bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
	  <services>
		  <service name="GZCustoms.Application.SGY.SingleWindow.MessageService.SingleWindowMessageService">
			  <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" bindingConfiguration="LargeWeb" contract="GZCustoms.Application.SGY.SingleWindow.MessageService.IMessageService"></endpoint>
			  <endpoint address="soap" binding="basicHttpBinding" contract="GZCustoms.Application.SGY.SingleWindow.MessageService.IMessageService" />
			  <!--<endpoint address="ws" binding="wsHttpBinding" contract="GZCustoms.Application.SGY.SingleWindow.MessageService.IMessageService" />
			  <endpoint address="mex" binding="mexHttpBinding" contract="GZCustoms.Application.SGY.SingleWindow.MessageService.IMessageService" />-->
		  </service>
	  </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
