<?xml version="1.0"?>
<configuration>
  <configSections>    
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections> 
  <dataConfiguration defaultDatabase="DefaultSqlDb" />
  <connectionStrings>
    <add name="DefaultSqlDb" connectionString="Database=SGY;Server=.\sqlexpress;user id=sgy;pwd=qwer*1234"
      providerName="System.Data.SqlClient" />
    <add name="EPortSqlDb" connectionString="Database=EPORT_CUSTOMS;Server=.\sqlexpress;user id=sgy;pwd=qwer*1234"
      providerName="System.Data.SqlClient" />  
  </connectionStrings>
  <appSettings>
    <add key="DbType" value="SqlServer" />
    <add key="CurrentId" value="f4ff60b9d" />
    <add key="TscIdHead" value="T19078435100" />
    <add key="DocumentNo" value="1236" />
    <add key="Tns" value="http://www.chinaport.gov.cn/tcs/v2" />
    <add key="Path" value="F:\Temp" />
    <add key="SlidingExpiration" value="20"/>
    <!--DeclType 进出口开关 1进口 0 出口，2 允许进口和出口-->
    <add key="DeclType" value="1"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <client />
    <bindings>     
      <wsHttpBinding>
        <binding name="wsBindingNoAuthentication">
          <security mode="None" />
        </binding>
        <binding name="wsBindingSecurity">
          <security mode="Message">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>       
          <serviceMetadata httpGetEnabled="true"/>         
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="GZCustoms.Application.SGY.MessageService.Web.MessageServiceWCF">    
        <!--
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsBinding" contract="GZCustoms.Application.SGY.MessageService.Interface.IMessageServiceWCF">
          <identity>
            <dns value="localhost:8000" />
          </identity>
        </endpoint>     
        -->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsBindingNoAuthentication"  contract="GZCustoms.Application.SGY.MessageService.Interface.IMessageServiceWCF">
        
        </endpoint>    

        <!--
        <endpoint address="" binding="netTcpBinding" contract="ChinaCustoms.Application.HH2010.DataService.WCF.Interface.IDataServiceWCF"/>
      
			  <endpoint address="" binding="netTcpBinding" bindingConfiguration="netBindingNoAuthentication" contract="ChinaCustoms.Application.HH2010.DataService.WCF.Interface.IDataServiceWCF">
         
				  <identity>
					  <dns value="localhost:808"/>
				  </identity>
                 
			  </endpoint>
        -->
            
			  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />         
        <!--<host>
          <baseAddresses>            
            <add baseAddress="http://localhost:42197/SGY.MessageService.Web/MessageServiceWCF.svc"/>           
          </baseAddresses>
        </host>-->
        
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
